*{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,a,div,img,button,input{
    margin: 0;
    padding: 0;
    min-width: 1px;
    min-height: 1px;
    font-style: none;
    text-decoration: none;
    
    list-style-type: none;
}
img{
    
}